/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  padding-right: 10px;
  padding-left: 10px;
  color: var(--text-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  grid-auto-flow: column;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 40px;
  padding: 74px 0 66px;
  color: var(--header-text-color);
}

.header__decor-element {
  display: none;
}

.header__theme-menu-item {
  border: 1px solid transparent;
}

.header__theme-menu-item:hover {
  border-color: var(--border-color);
}

.header__theme-menu-item:focus-visible {
  border-block-end: 1px solid var(--header-text-color);
  outline: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border-color: var(--header-text-color);
  pointer-events: none;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px 4.5px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--header-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--header-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 8px;
}

.title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__slogan {
  display: block;
  align-self: end;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content-section {
  display: grid;
  padding-block-end: 50px;
  line-height: 23.4px;
}

.content-section__list {
  display: grid;
  gap: 20px;
}

.content-section__title {
  margin-block-end: 20px;
  font-size: 18px;
}

.card__title {
  font-size: 18px;
}

.card__description {
  padding-block-start: 10px;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  text-decoration: underline;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.title-thin {
  font-weight: 400;
}

.section-images__text {
  margin-block-end: 10px;
  font-weight: 700;
}

.section-images__gallery {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.section-images__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  margin-block-start: 40px;
  padding: 286px 5px;
}

.footer__text {
  font-weight: 700;
}

@media (width >= 768px) {
  .page {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    min-height: 1024px;
    margin-block-end: 60px;
    padding: 190px 0 183px;
    padding-right: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    justify-self: start;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__slogan {
    justify-self: end;
    max-inline-size: 364px;
  }
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    padding-block-end: 80px;
  }

  .content-section__list {
    grid-column: 2 / 4;
  }

  .content-section__title {
    min-width: 236px;
    max-height: max-content;
    margin-block-end: 0;
  }
  .section-concentration__list {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
  }

  .content-section__title + .title-decor {
    grid-column: 2 / 4;
  }

  .section-concentration {
    grid-template-columns: 1fr;
  }

  .section-concentration__title {
    grid-column: 1 / 4;
    max-width: 236px;
  }

  .title__linebreak {
    grid-row: 1/4;
  }

  .less-padding {
    padding-block-end: 60px;
  }

  .section-images__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-images__sunset {
    grid-column: 1 / 3;
    grid-row: 1 / auto;
  }

  .section-images__icecream {
    grid-column: 3 / auto;
    grid-row: 1 / 3;
  }
  .section-images__tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section-images__books {
    grid-column: 2 / auto;
    grid-row: 2 / auto;
  }

  .section-images__street {
    grid-column: 2 / 4;
    grid-row: 3 / auto;
  }

  .section-images__text {
    margin-block-end: 20px;
  }

  .footer {
    min-height: 768px;
    margin-block-start: 60px;
    padding-right: 20px;
    padding-left: 20px;
    padding-block-start: 462px;
  }

  .footer__text {
    text-align: center;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    margin-block-end: 60px;
    padding: 19.5px 0 20px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__slogan {
    align-self: center;
    margin-right: 20px;
    max-inline-size: 491px;
  }

  .section-concentration__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  .section-concentration__title {
    max-width: 315px;
  }

  .footer {
    min-height: 768px;
    padding-block-start: 320px;
    padding-block-end: 0;
  }
}
